<a href="https://colab.research.google.com/github/will-lucena/Data-science-class-project/blob/master/Lebron_heat_2k11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing libs

In [0]:
#import numpy as np
import pandas as pd
#import pandas_profiling as prof
#import matplotlib as mpl
#import matplotlib.pyplot as plt

# Loading dataframes (df)

In [0]:
players_url = "https://raw.githubusercontent.com/will-lucena/Data-science-class-project/master/Players.csv"
player_data_url = "https://raw.githubusercontent.com/will-lucena/Data-science-class-project/master/player_data.csv"
season_stats_url = "https://raw.githubusercontent.com/will-lucena/Data-science-class-project/master/Seasons_Stats.csv"

players_list_data = pd.read_csv(players_url)
players_data = pd.read_csv(player_data_url)
season_data = pd.read_csv(season_stats_url)

# Understanding information on players_list df

In [67]:
print(players_list_data.head())
print(players_list_data.info())

players_list_data[players_list_data['Player'] == 'LeBron James']

   Unnamed: 0           Player  height  ...    born   birth_city  birth_state
0           0  Curly Armstrong   180.0  ...  1918.0          NaN          NaN
1           1     Cliff Barker   188.0  ...  1921.0     Yorktown      Indiana
2           2    Leo Barnhorst   193.0  ...  1924.0          NaN          NaN
3           3       Ed Bartels   196.0  ...  1925.0          NaN          NaN
4           4      Ralph Beard   178.0  ...  1927.0  Hardinsburg     Kentucky

[5 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3922 entries, 0 to 3921
Data columns (total 8 columns):
Unnamed: 0     3922 non-null int64
Player         3921 non-null object
height         3921 non-null float64
weight         3921 non-null float64
collage        3573 non-null object
born           3921 non-null float64
birth_city     3452 non-null object
birth_state    3439 non-null object
dtypes: float64(3), int64(1), object(4)
memory usage: 245.2+ KB
None

      Unnamed: 0        Player  height  ...    born birth_city  birth_state
2944        2944  LeBron James   203.0  ...  1984.0      Akron         Ohio

[1 rows x 8 columns]

# Understanding information on players df

In [68]:
print(players_data.head())
print(players_data.info())
players_data[players_data['name'] == 'LeBron James']

                  name  ...                                college
0       Alaa Abdelnaby  ...                        Duke University
1      Zaid Abdul-Aziz  ...                  Iowa State University
2  Kareem Abdul-Jabbar  ...  University of California, Los Angeles
3   Mahmoud Abdul-Rauf  ...             Louisiana State University
4    Tariq Abdul-Wahad  ...              San Jose State University

[5 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4550 entries, 0 to 4549
Data columns (total 8 columns):
name          4550 non-null object
year_start    4550 non-null int64
year_end      4550 non-null int64
position      4549 non-null object
height        4549 non-null object
weight        4544 non-null float64
birth_date    4519 non-null object
college       4248 non-null object
dtypes: float64(1), int64(2), object(5)
memory usage: 284.5+ KB
None

              name  year_start  year_end  ... weight         birth_date  college
1952  LeBron James        2004      2018  ...  250.0  December 30, 1984      NaN

[1 rows x 8 columns]

# Understanding information on season df

In [84]:
print(season_data.head())
print(season_data.info())
lebron_table = season_data[season_data['Player'] == 'LeBron James']
lebron_MIA_table = lebron_table[season_data['Tm'] == 'MIA']
lebron_MIA_table[:1]

   Unnamed: 0    Year           Player  Pos   Age  ... STL  BLK  TOV     PF    PTS
0           0  1950.0  Curly Armstrong  G-F  31.0  ... NaN  NaN  NaN  217.0  458.0
1           1  1950.0     Cliff Barker   SG  29.0  ... NaN  NaN  NaN   99.0  279.0
2           2  1950.0    Leo Barnhorst   SF  25.0  ... NaN  NaN  NaN  192.0  438.0
3           3  1950.0       Ed Bartels    F  24.0  ... NaN  NaN  NaN   29.0   63.0
4           4  1950.0       Ed Bartels    F  24.0  ... NaN  NaN  NaN   27.0   59.0

[5 rows x 53 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24691 entries, 0 to 24690
Data columns (total 53 columns):
Unnamed: 0    24691 non-null int64
Year          24624 non-null float64
Player        24624 non-null object
Pos           24624 non-null object
Age           24616 non-null float64
Tm            24624 non-null object
G             24624 non-null float64
GS            18233 non-null float64
MP            24138 non-null float64
PER           24101 non-null float64
TS%           24538 non-null float64
3PAr          18839 non-null float64
FTr           24525 non-null float64
ORB%          20792 non-null float64
DRB%          20792 non-null float64
TRB%          21571 non-null float64
AST%          22555 non-null float64
STL%          20792 non-null float64
BLK%          20792 non-null float64
TOV%          19582 non-null float64
USG%          19640 non-null float64
blanl         0 non-null float64
OWS           24585 non-null float64
DWS           24585 non-null float64
WS            24585 non-null float64
WS/48         24101 non-null float64
blank2        0 non-null float64
OBPM          20797 non-null float64
DBPM          20797 non-null float64
BPM           20797 non-null float64
VORP          20797 non-null float64
FG            24624 non-null float64
FGA           24624 non-null float64
FG%           24525 non-null float64
3P            18927 non-null float64
3PA           18927 non-null float64
3P%           15416 non-null float64
2P            24624 non-null float64
2PA           24624 non-null float64
2P%           24496 non-null float64
eFG%          24525 non-null float64
FT            24624 non-null float64
FTA           24624 non-null float64
FT%           23766 non-null float64
ORB           20797 non-null float64
DRB           20797 non-null float64
TRB           24312 non-null float64
AST           24624 non-null float64
STL           20797 non-null float64
BLK           20797 non-null float64
TOV           19645 non-null float64
PF            24624 non-null float64
PTS           24624 non-null float64
dtypes: float64(49), int64(1), object(3)
memory usage: 10.0+ MB
None

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

       Unnamed: 0    Year        Player Pos  ...   BLK    TOV     PF     PTS
20812       20812  2011.0  LeBron James  SF  ...  50.0  284.0  163.0  2111.0

[1 rows x 53 columns]

# Saving information about target columns

In [89]:
mia_table = season_data[season_data['Tm'] == 'MIA']
mia_table_2011 = mia_table[mia_table['Year'] == 2011]
mia_table_2010 = mia_table[mia_table['Year'] == 2010]
print(mia_table_2010)
print(mia_table_2011)

       Unnamed: 0    Year              Player Pos  ...    BLK    TOV     PF     PTS
19931       19931  2010.0        Rafer Alston  PG  ...    5.0   34.0   53.0   165.0
19938       19938  2010.0        Joel Anthony   C  ...  109.0   45.0  158.0   218.0
19945       19945  2010.0       Carlos Arroyo  PG  ...    6.0   54.0  102.0   439.0
19963       19963  2010.0     Michael Beasley  PF  ...   49.0  131.0  221.0  1156.0
20025       20025  2010.0      Mario Chalmers  PG  ...   12.0  123.0  175.0   521.0
20037       20037  2010.0        Daequan Cook  SG  ...   10.0   24.0   50.0   223.0
20055       20055  2010.0    Yakhouba Diawara  SG  ...    0.0    3.0    8.0     5.0
20142       20142  2010.0       Udonis Haslem  PF  ...   23.0   75.0  174.0   771.0
20228       20228  2010.0         James Jones  SF  ...    4.0   11.0   45.0   146.0
20264       20264  2010.0     Jamaal Magloire   C  ...   11.0   17.0   59.0    77.0
20331       20331  2010.0     Jermaine O'Neal   C  ...   95.0  125.0  212.0   950.0
20367       20367  2010.0    Shavlik Randolph  PF  ...    1.0    2.0    9.0    10.0
20377       20377  2010.0  Quentin Richardson  SF  ...   18.0   62.0  169.0   678.0
20458       20458  2010.0         Dwyane Wade  SG  ...   82.0  252.0  181.0  2045.0
20495       20495  2010.0       Dorell Wright  SF  ...   32.0   53.0   94.0   510.0

[15 rows x 53 columns]
       Unnamed: 0    Year              Player Pos  ...   BLK    TOV     PF     PTS
20524       20524  2011.0        Joel Anthony   C  ...  93.0   36.0  194.0   153.0
20533       20533  2011.0       Carlos Arroyo  PG  ...   1.0   43.0   60.0   274.0
20568       20568  2011.0          Mike Bibby  PG  ...   3.0   32.0   47.0   160.0
20582       20582  2011.0          Chris Bosh  PF  ...  49.0  138.0  172.0  1438.0
20626       20626  2011.0      Mario Chalmers  PG  ...   7.0   91.0  158.0   447.0
20656       20656  2011.0       Erick Dampier   C  ...  47.0   32.0   82.0   128.0
20773       20773  2011.0       Udonis Haslem  PF  ...   3.0   14.0   39.0   104.0
20794       20794  2011.0         Eddie House  SG  ...   3.0   29.0   68.0   362.0
20797       20797  2011.0        Juwan Howard  PF  ...   4.0   25.0   61.0   139.0
20802       20802  2011.0  Zydrunas Ilgauskas   C  ...  58.0   52.0  185.0   360.0
20812       20812  2011.0        LeBron James  SF  ...  50.0  284.0  163.0  2111.0
20840       20840  2011.0         James Jones  SF  ...  19.0   21.0  129.0   475.0
20876       20876  2011.0     Jamaal Magloire   C  ...   2.0    5.0   26.0    35.0
20900       20900  2011.0         Mike Miller  SG  ...   2.0   41.0   88.0   228.0
20959       20959  2011.0      Dexter Pittman   C  ...   0.0    2.0    2.0     2.0
21020       21020  2011.0    Jerry Stackhouse  SG  ...   2.0    2.0    3.0    12.0
21070       21070  2011.0         Dwyane Wade  SG  ...  87.0  237.0  197.0  1941.0

[17 rows x 53 columns]